bin
build
bak
tmp
sav
obj
log
Debug
Release
.vs

*.~*
*.bak
*.tmp
*.sav
*.err
*.log
err.txt
err_*
tmp_*
sav_*
obj_*
my_*
*.t
*.o

*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.idb
*.suo
*.tlog
*.sdf
*.opensdf
*.opendb
*.user

*.exe
a.out
