bak
*.bak
*.BAK
sav
*.sav
*.SAV
tmp
*.tmp
*.TMP
obj
*.obj
*.dep
*.idb
*.suo
*.manifest
*.pdb
*.ncb
*.sdf
*.opensdf
*.user
*.iobj
*.ipdb
Win32_Debug
Win32_Release
x64_Debug
x64_Release
*.exe
smp/smp*.*
smp/TexChFontInfo.h
